{%extends 'base.html'%}

{%block title%}Basic Task{%endblock%}

{%block content%}
    <div style = 'color:white ; font-size : 30px ; margin-left : 20px; margin-top : 10px;'>
        <label style = 'font-family: Calibri ; margin-bottom : 10px;'>Check VALORANT Shop</label><a href = '/check-valo-shop' style = "margin-left : 10px;"><button type = 'button' class = 'btn btn-primary'>Click Here</button></a>
        <br/>
        <label style = 'font-family: Calibri; margin-bottom : 10px;'>Run GTA</label><a href = '/gta-offline' style = "margin-left : 10px;"><button type = 'button' class = 'btn btn-primary'>Story Mode</button></a><a href = '/gta-online' style = "margin-left : 10px;"><button type = 'button' class = 'btn btn-primary'>Online Mode</button></a>
        <br/>
        <label style = 'font-family: Calibri ; margin-bottom : 10px;'>Run VALORANT</label><a href = '/run-valorant' style = "margin-left : 10px;"><button type = 'button' class = 'btn btn-primary'>Click Here</button></a>
        <br/>
    </div>
{%endblock%}