{%extends 'base.html'%}

{%block title%}Watch Video{%endblock%}

{%block content%}
    {%if error%}
        <a href = '/database/{{code}}' style = 'margin-top : 1%;text-align:center'>Back</a>
        <p style = 'color : white'>The File You Requested Is Doesn't Exist Or Isn't An MP4</p>
    {%else%}
        <a href = '/database/{{code}}' style = 'margin-top : 1%;text-align:center'>Back</a>
        <div style = 'text-align : center  ; margin-top : 10px;'>
            <video width="320" height="240" controls>
                <source src= {{ url_for('static', filename= filename ) }} type="video/mp4">
            </video>
        </div>
    {%endif%}
{%endblock%}